ion-content {
    position: relative;
}

.header {
    display: flex;
    margin-top: 70px;
    align-items: center;
    margin-bottom: 16px;
}

.header ion-icon {
    font-size: 70px;
    margin-left: 26px;
}

* {
    font-family: 'Poppins';
}

.header h2 {
    font-size: 30px;
    margin: auto;
    font-weight: 500;
    font-family: 'Poppins';
}

.main {
    width: 370px;
    margin: auto;
}

.registrasi-input {
    border: 1px;
    border-color: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.registrasi-nama {
    margin-top: -1px;
}

.main ion-button {
    display: flex;
    margin: auto;
    height: 55px;
    border-radius: 18px;
    width: 300px;
    margin-top: 200px;
    border: none;
    background-color: #1E57F1;
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}